.homeLink {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 1.5em;
  color: hsl(245, 60%, 50%);
  text-decoration: underline;
  transition: color 0.3s;
}
.homeLink:hover {
  color: hsl(245, 60%, 70%);
  text-decoration: none;
}

.results {
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

/* Individual result boxes */
.resultBox {
  width: 50px;
  height: 50px;
  margin: 10px;
  font-weight: bold;
  font-size: 1.7rem;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: #f0f0f0;
  color: hsl(210, 30%, 30%);
  border: 2px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 6px hsl(210, 20%, 85%);
  transition: transform 0.2s ease, background-color 0.3s;
}

.resultBox.guessed {
  background-color: #4caf50;
  color: white;
  transform: scale(1.1);
}

.resultBox:hover {
  background-color: hsl(210, 90%, 80%);
  transform: translateY(-3px);
}

.rollButton {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: hsl(245, 60%, 50%);
  color: white;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 6px hsl(240, 10%, 80%);
}

.rollButton:hover {
  background-color: hsl(245, 60%, 60%);
  transform: translateY(-2px);
}

.rollButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.status {
  margin-top: 20px;
  font-size: 1.2rem;
  text-align: center;
  padding: 15px;
  border: 2px solid hsl(245, 60%, 50%);
  border-radius: 10px;
  background-color: hsl(210, 90%, 95%);
  color: hsl(210, 30%, 30%);
  box-shadow: 0 4px 8px hsl(240, 10%, 85%);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.status p {
  margin: 0;
  font-weight: bold;
  font-size: 1.3rem;
  color: inherit;
}

.statussuccess {
  background-color: hsl(120, 40%, 45%);
  color: white;
  border-color: hsl(120, 35%, 40%);
  box-shadow: 0 4px 8px hsl(120, 35%, 70%);
}